<!-- perfil-profesional.html -->
<div class="min-h-screen w-full bg-gray-100 flex flex-col justify-between p-4 md:p-8">
    <!-- Tu contenido aquí -->

    <div class="-mx-8 px-0.5">
        <div class="-mb-7"></div>

        <div
            class="w-full h-9 pt-1 light:bg-[#ade8f4] dark:bg-[#001845] border-b border-gray-200 dark:border-gray-700 flex items-center justify-start">

            <div
                class="text-xl font-bold font-calibri tracking-wider text-start uppercase text-ellipsis text-balance text-shadow-sm leading-normal dark:text-white px-2 ">
                Perfil Profesional
            </div>

        </div>

        <div class="mb-1"></div>

        <div
            class="w-full h-20 pt-1 light:bg-[#ade8f4] dark:bg-[#111827] border-b border-gray-200 dark:border-gray-700 flex items-center justify-start">

            <div
                class="font-calibri text-lg tracking-wide leading-tight text-justify text-ellipsis text-pretty text-shadow-sm  dark:text-white px-4 ">

                Ingeniero en Sistemas Computacionales recién egresado con experiencia en desarrollo full-stack,
                aplicaciones
                móviles y soluciones 3D interactivas.
                Capacidad para trabajar tanto en front-end como back-end, con conocimientos sólidos en múltiples
                lenguajes y
                frameworks modernos. Complemento mi
                perfil con formación técnica en soporte y mantenimiento de equipos de cómputo e infraestructura básica
                de
                redes y conocimiento en Microsoft 365.
            </div>

        </div>
    </div>
</div>