<div class="py-1 md:mt-1">
  <hr class="my-4 border-t border-gray-100 dark:border-gray-700">
    <app-tech-carousel title="Tecnologías que utilizo" 
     subtitle="Lenguajes con los que desarrollo día a día"
    [items]="tecnologias" />
</div>

<div class="py-1 md:mt-1">
  <app-tech-carousel title="Frameworks y Librerías" 
  subtitle="Experiencia con diferentes frameworks y librerías"
  [items]="frameworks" />
</div>

<div class="py-1 md:mt-1">
  <app-tech-carousel title="Herramientas" subtitle="Herramientas que utilizo en mi trabajo"
    [items]="herramientas" />
</div>

<div class="py-1 md:mt-1">
  <app-tech-carousel title="Áreas de Conocimiento" subtitle="Áreas en las que tengo experiencia"
    [items]="areas_de_conocimiento" />
</div>

<app-exp-prof></app-exp-prof>
